<!-- Clinical Documents Tab -->
<div class="documents-tab">
    <h3>Clinical Documents</h3>
    <div class="upload-section">
        <button class="btn-upload"><i class="fa fa-upload"></i> Upload Document</button>
    </div>
    <div class="documents-list">
        <div class="doc-item">
            <i class="fa fa-file-pdf-o"></i>
            <span>Consent Form - General.pdf</span>
        </div>
        <div class="doc-item">
            <i class="fa fa-file-image-o"></i>
            <span>X-Ray Report - Chest.jpg</span>
        </div>
        <div class="doc-item">
            <i class="fa fa-file-text-o"></i>
            <span>Discharge Summary.docx</span>
        </div>
    </div>
</div>
